<!DOCTYPE html>
<html>
<head>
	<title>Header</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/admin/">Dashboard</a></li>
  <li><a href="/auth/login">Login</a></li>
  <li><a href="/auth/logout">Logout</a></li>
  <% if(typeof link !== 'undefined' ){%>
  		<li><a href=""><%= link %></a></li>
  <% } %>
</ul>