<!DOCTYPE html>
<html>
<head>
	<title>template</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/admin">Dashboard</a></li>
  <li><a href="/auth">Login</a></li>
</ul>