body {
	
}
ul {
	border-radius: 10px;
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: lightgray;
}


.jumbotron h1 {
	font-size: 50px;
}
.jumbotron {
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background: lightgray;
}

.container{
	
	background: gray;
	border-radius: 25px;
	margin: 0 20px;
	text-align: center;
	color: white;
}
.form{
	background: gray;
	border-radius: 25px;
	margin: 0 30%;
	text-align: center;
	color: white;
}
.form button {
	margin-bottom: 10px;
	text-decoration: none;
	color: gray;
}
.form button:active {

	color: white;
	background-color:#476C9B ;
}

.footer {

	background-color: gray;
	color: white;
	text-align: center;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}