<!-- 
	Table
	pages
	add page 
<!DOCTYPE html>	title up<buttond options (delete edit visibilities)>delete</button> title up<buttond options (delete edit visibilities)>delete</button> title up<
-->

<% include partials/header %>

<div class="dashboard-container">
<div class="header-content">
	<header class="table-header">Table of Templates</header>
	<a href="/admin/addpage/" class="add-page">Add Pages</a>
</div>			
<table class="table-container">
	
<thead class="dashboard-header">
	<th>Title</th>
	<th>Updated</th>
	<th>Options</th>
</thead>
<tbody>
<%pages.forEach(function(page){ %>
	<tr>
		
			<td>
				<%= page.title %>
			</td>
			<td>
				date
			</td>
			<td>				
				<a class="delete" href="/admin/delete/<%= page.id %>" >delete</a> 
				<a href="/admin/editpage/<%= page.id %>" class="edit">edit</a>
				<a href="/admin/showpage/<%= page.id %>" class="show">show</a>
				
			</td>
		

	</tr>
<%});%>			
</tbody>
<tfoot>
	
</tfoot>
</table>
</div>
<% include partials/footer %>