<% include partials/header.ejs %>
<div class="container">
	<header class="container-header">
		<%= page.title %>
	</header>
	<hr>
	<div class="container-paragraph">
		<%- page.content %>
	</div>
</div>

<% include partials/footer.ejs %>