<% include partials/header.ejs %>
<div class="container">
	<header class="container-header">
		<%= header %>
	</header>
	<hr>
	<p class="container-paragraph">
		<%= content %>
	</p>
</div>

<% include partials/footer.ejs %>