<% include partials/header.ejs %>
<div class="container">
	<header class="container-header">
		<%= page.title %>
	</header>
	<hr>
	<p class="container-paragraph">
		<%= page.content %>
	</p>
</div>

<% include partials/footer.ejs %>